<head>
    <title>Venda</title>
    <style>
      body{
        background-color: #072227;
      }
       div{
        margin: auto;
        background-color: white;
        width: 450px;
        height: 340px;
        text-align: center;
        margin-top: 100px;
        padding: 10px;
        border-radius: 4px;
        text-align: center
      }
      h2{
        color: #35858B;
      }
      
      p{
        color: #35858B;
      }
      
      div input{
        width: 250px;
        padding: 12px 20px;
        margin: 8px ;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #F5F5F5;
      }
       
      input[type=submit]{
        background-color: #35858B;
        color: white;
        border: 0;
      }
    </style>
</head>

<body>
    <div>
        <h2>Atualizar Preço de Restauro</h2>
        <p>Introduza a matrícula do veículo a atualizar e o novo preço de restauro.</p>
        <p>Matrícula: <input name="matricula"></p>
        <p>Novo preço: <input name="novoPreco"></p>
        <input type=submit value="Atualizar">
        </div>
</body>