
<head>
	<meta charset="UTF-8">

	<title></title>
</head>
<body>
	<main style="margin-left: auto; margin-top: 10%;">
		<h1 style="text-align: center;">Gestão de negócio de automoveis</h1>
		<table style="width:100%">
		  <tr>
		   	<th><a href="compra"><input type="submit" value="Compra" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="venda"><input type="submit" value="Venda" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="atualizar"><input type="submit" value="Atualizar preço" /></a></th>
		  </tr>

		  <tr>
		    <th><a href="alterar"><input type="submit" value="Alterar dados" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="visualizar"><input type="submit" value="Visualizar automóveis" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="gestao"><input type="submit" value="Gestão de base de dados" /></a></th>
		  </tr>
		  <tr>
		    <th><a href="relatorios "><input type="submit" value="Relatórios " /></a></th>
		  </tr>
		</table>
		
		
	</main>
	

</body>
