<head>
    <title>Venda</title>
    <style>
      body{
        background-color: #072227;
      }
       div{
        margin: auto;
        background-color: white;
        width: 400px;
        height: 250px;
        text-align: center;
        margin-top: 100px;
        padding: 10px;
        border-radius: 4px;
        text-align: center
      }
      h2{
        color: #35858B;
      }
      
      p{
        color: #35858B;
      }
      
      div input{
        width: 250px;
        padding: 12px 20px;
        margin: 8px ;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #F5F5F5;
      }
       
      input[type=submit]{
        background-color: #35858B;
        color: white;
        border: 0;
      }
    </style>
</head>

<body>
    <div>
        <h2>Venda</h2>
        <p>Introduza a matrícula do veículo a vender.</p>
        <p>Matrícula: <input name="matricula"></p>
        <input type=submit value="Vender">
        </div>
</body>